::-webkit-scrollbar {
  display: none;
}

html, body{
  min-width: 350px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body > div {
  height:100%;
  width: 100%;
}

.App{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.fullSize{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.fullHeight{
  height:100%;
}
.fullWidth{
  width: 100%;
}

.loginContainer{
  background-color: #6D6E71;
}

.loginInput{
  width: 225px;
  border-radius: 5px;
  font-size: larger;
  border-width: 0;
  margin: 5px;
  padding: 3px;
}
.loginButton{
  color: white;
  background-color: #B4D032;
  font-weight: bold;
}
.centerContents{
  text-align: center;
}

.block{
  display: block;
}

.IconImage{
  margin: 30px;
  width: calc(100vh * .4);
}

.appContainer{
  background-color: #6D6E71;
}

.customTable{
  background-color: white;
  max-width: 300px;
  margin: auto;
  margin-top: 35px;
}

.tableBody{
  max-height: calc(100vh - 30);
  overflow: scroll;
}